COMPOSE_PROJECT_NAME=php-page-viewer

PS1="🐳 \\e[0;32m[$COMPOSE_PROJECT_NAME][$PS1_SRV_NAME][$(date +%H:%M:%S)] \\u@\\w \\$ \\e[m"

APP_DIR=./app
APP_DIR_MAP=/app

# Config user for php-fpm, cron, worker, containers etc.
APP_CONTAINER_USER=app
APP_CONTAINER_UID=10001
APP_CONTAINER_GID=10001

# Create directories inside container which aren't mapped to the host system
APP_CONTAINER_VAR_DIR=/var/app
APP_CONTAINER_CACHE_DIR=/var/app/cache

HTTP_PORT_NGINX_FPM=22000

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=example
MYSQL_USERNAME=app
MYSQL_PASSWORD=xxx
MYSQL_ROOT_PASSWORD=xxx
MYSQL_EXTERNAL_PORT=23306

PV_MODE=dev
PV_LOG_LEVEL=debug
